body {
  font-family: 'Roboto', sans-serif;
}


.bg-light {
  background-color: #900026 !important;
}

img.d-inline-block.align-top {
  width: 240px;
  height: 50px;
}

.navbar-light .navbar-nav .nav-link {
  color: rgba(255,255,255);
}

.jumbotron {
background-image: url("../images/banner-bkgd-Iona-Campus.jpg");
background-position: 50% 50%;
background-repeat: no-repeat;
background-size: cover;
padding: 2em 0 6em 0;
height: 400px;
}

.container > h1,
.container > p.lead{
  color: #fff;
}

.card {
  margin-bottom: 15px;
}

.btn-primary-pt {
  border-radius: 0;
  background-color: #900026;
  border-color: #900026;
}

.btn-primary-pt:hover,
.btn-primary-pt:focus {
  background-color: #fff;
  color: #900026;
  border-color: #900026;
}

.date-header {
  text-transform: uppercase;
}

.important-dates {
  list-style: none;
  padding-inline-start: 0;
}

.important-dates > li {
  border: 1px solid #000;
  margin: 10px 0;
  padding: 5px 10px;
}

.footer {
  border-top: 3px solid #900026;
    border-bottom: 3px solid #900026;
}
